<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>顾虑器</title>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>

</head>

<body>
    <div id="app">
       githup:Id:<input type="text" v-model='uid' />
       <button @click="getGitUser(uid)">获取git账号</button>
       <button @click="postGoods">post请求</button>
       <input type="text" v-model="word" @keydown="jsonp">
       <ul>
       	<li v-for="item in myData">{{item}}</li>
       </ul>
    </div>

</body>
<script>
    new Vue({
    	el:'#app',
    	data:{
    		user:{},
    		uid:'',
    		word:'',
    		myData:''
    	},
    	methods:{
    		getGitUser:function(uid){
    			this.$http.get(`http://api.github.com/users/${uid}`)
    				.then(res => {
    					console.log(res);
    					this.user = res.data;
    				})
    		},
    		jsonp:function(){
    			this.$http.jsonp("https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su",{
    				params:{
    					wd:this.word
    				},
    				jsonp:'cb'
    			}).then(function(res){
    				console.log(res);
    				this.myData = res.data.s;
    			})
    		},
    		postGoods:function(){
    			this.$http.post('http://easy-mock.com/mock/59664d4d58618039284c7710/example/goods/list')
    				.then(res => {
    					console.log(res);
    				})
    		}
    		
    	}
    })
</script>

</html>